@import '../../../styles/layout';
@import '../../../styles/colors';

.box {
  padding: get-spacing('m');
  display: flex;
  flex-direction: column;
  background: get-color('white-lightest');
  color: get-color('white');
  align-items: center;
  justify-content: center;
  margin-right: get-spacing('xs');
  width: 66px;
  height: 66px;
}
.size-m {
  .box {
    width: 52px;
    height: 52px;
    padding: get-spacing('s');
  }
}
.size-s {
  .box {
    width: 42px;
    height: 42px;
    padding: get-spacing('xs');
  }
}

.smallText {
  $spacing: get-spacing(m);
  margin-top: -$spacing;
  color: get-color('white-lighter');
  font-size: 10px;
  font-weight: 100;
}
