@import '../../../styles/layout';
@import '../../../styles/shapes';

.wrapper {
  position: relative;
}

.input-button {
  position: relative;
  z-index: 1;

  &.focused {
    z-index: 2;
  }

  &:not(.editable) {
    cursor: pointer;

    input {
      cursor: pointer;
    }
  }
}

.input-button-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
