@import '../../../styles/layout';
@import '../../../styles/shapes';

.wrapper {
  width: 100%;
}

.content {
  width: 100%;
  max-width: map-get($device-breakpoint-map, 'l');
}

.stretch {
  height: 100%;
}

.scrollable {
  overflow: auto;

  .stretch {
    height: auto;
    min-height: 100%;
  }
}

@mixin responsive-layout($suffix: '') {
  $size-key: map-get($page-spacing-key-map, $suffix);
  @if $suffix == '' {
    $size-key: map-get($page-spacing-key-map, 'xxs');
  }
  .content {
    padding: 0 get-spacing($size-key);
  }

  .align-center-#{$suffix}-true {
    margin: 0 auto;
  }

  .align-center-#{$suffix}-false {
    margin: 0;
  }

  .expand-#{$suffix}-true {
    max-width: 100%;
  }

  .expand-#{$suffix}-false {
    @if $suffix != '' {
      max-width: map-get($device-breakpoint-map, shift-size($size-key, -1));
    }
  }
}

@include responsive-layout();

@media (min-width: $min-device-width-xs) {
  @include responsive-layout('xs');
}

@media (min-width: $min-device-width-s) {
  @include responsive-layout('s');
}

@media (min-width: $min-device-width-m) {
  @include responsive-layout('m');
}

@media (min-width: $min-device-width-l) {
  @include responsive-layout('l');
}

@media (min-width: $min-device-width-xl) {
  @include responsive-layout('xl');
}

@media (min-width: $min-device-width-xxl) {
  @include responsive-layout('xxl');
}
