@import '../../../styles/typography';
@import '../../../styles/colors';
@import '../../../styles/layout';

@mixin responsive-text($suffix: '') {
  @each $key, $size in $font-size-map {
    .size-#{$suffix}-#{$key} {
      font-size: $size;
      line-height: get-line-height($key);
    }
  }
}

@include responsive-text();

@media (min-width: $min-device-width-xs) {
  @include responsive-text('xs');
}

@media (min-width: $min-device-width-s) {
  @include responsive-text('s');
}

@media (min-width: $min-device-width-m) {
  @include responsive-text('m');
}

@media (min-width: $min-device-width-l) {
  @include responsive-text('l');
}

@media (min-width: $min-device-width-xl) {
  @include responsive-text('xl');
}

@media (min-width: $min-device-width-xxl) {
  @include responsive-text('xxl');
}

.text {
  display: inline;
}

.show-ellipsis {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

%highlight-text {
  padding: 0 get-spacing('xs');
  background-repeat: no-repeat;
  background-size: 100%; background-position: 0 center;
}

@each $name, $color in $color-map {
  .highlight-#{$name} {
    @extend %highlight-text;
    background-image: linear-gradient(to bottom, transparent 0, $color 0);
    color: get-text-color-on-background($name);
  }

  .color-#{$name} {
    color: $color;
  }
}
@each $name, $color in $default-text-color-map {
  .color-#{$name} {
    color: $color;
  }
}

@each $key, $weight in $font-weight-map {
  .weight-#{$key} {
    font-weight: $weight;
  }
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}
