@import '../../../styles/typography';
@import '../../../styles/colors';

@mixin hovered-link($color, $amount: 20%) {
  color: get-darken-color($color, $amount);
}

a {
  &.button {
    &:focus {
      text-decoration: none;
    }
  }
}

.button {
  display: inline;
  color: $default-link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover:not(.disabled) {
    text-decoration: underline;
  }

  &:hover:not(.disabled),
  &:active {
    @each $color-name, $color in $color-map {
      &.color-#{$color-name} {
        @include hovered-link($color);
      }
    }
    @each $name in $special-text-color-names {
      $special-color: get-text-color($name);
      &.color-#{$name} {
        @include hovered-link($special-color);
      }
    }
  }
}

.theme-uppercase {
  text-transform: uppercase;

  &:hover:not(.disabled) {
    text-decoration: none;
  }
}

.theme-underline {
  text-decoration: underline;

  &.button:not(.disabled) {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.theme-implicit {
  &:hover {
    text-decoration: none;
  }

  &.button:not(.disabled) {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;

  * {
    opacity: 0.4;
  }
}

@each $name, $color in $color-map {
  .color-#{$name} {
    color: $color;
  }
}
@each $name in $special-text-color-names {
  .color-#{$name} {
    color: get-text-color($name);
  }
}
