@import '../../../styles/layout';
@import '../../../styles/colors';
@import '../../../styles/typography';

$aligns: (
    left,
    center,
    right,
);

@mixin column($column) {
    @if $column == 0 {
        display: none;
        width: 0;
        overflow: hidden;
    } @else {
        display: block;
        flex-basis: percentage($column / $max-grid-columns);
        max-width: percentage($column / $max-grid-columns);
    }
}

@mixin shift($column) {
    margin-left: percentage($column / $max-grid-columns);
}

@mixin col-margin($suffix, $spacing) {
    .margin#{$suffix} {
        padding-left: $spacing;
        padding-right: $spacing;
    }
}

@mixin responsive-col($suffix: '') {
    .col-#{$suffix}-auto {
        flex: 1 1 auto;
    }

    @for $i from 0 through $max-grid-columns {
        .col-#{$suffix}-#{$i} {
            @include column($i);
        }

        @if $i {
            .shift-#{$suffix}-#{$i} {
                @include shift($i);
            }
        }
    }

    @each $key, $size in $spacing-map {
        $_suffix: '-' + $suffix + '-' + $key;
        @include col-margin($_suffix, $size);
    }

    @include col-margin('-' + $suffix + '-none', 0);

    @each $value in $aligns {
        .align-#{$suffix}-#{$value} {
            text-align: $value;
        }
    }
}

@include responsive-col();

@media (min-width: $min-device-width-xs) {
  @include responsive-col('xs');
}

@media (min-width: $min-device-width-s) {
  @include responsive-col('s');
}

@media (min-width: $min-device-width-m) {
  @include responsive-col('m');
}

@media (min-width: $min-device-width-l) {
  @include responsive-col('l');
}

@media (min-width: $min-device-width-xl) {
  @include responsive-col('xl');
}

@media (min-width: $min-device-width-xxl) {
  @include responsive-col('xxl');
}

@each $name, $color in $color-map {
    .bg-#{$name} {
        background: $color;
        color: get-text-color-on-background($name);
    }
}
